@using Capstone.Web.Models;
@model Capstone.Web.Models.ViewModels.NewDeckViewModel

<h2>New Deck</h2>

<div class="container">
    @using (Html.BeginForm())
    {
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group row">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @style = "width: 80%" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @style = "width: 80%", @rows = 3 })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-2" for=""></label>
            <div class="btn-group btn-group-sm col-md-10" role="group" aria-label="Cards">
                <button class="btn btn-outline-success"  role="button">Save</button>
                <a class="btn btn-dark btn-outline-secondary" href="javascript:void(0);" onclick="history.go(-1);" role="button">Undo Changes</a>
            </div>
        </div>
    </div>
    }
</div>
