@model Capstone.Web.Models.ViewModels.StudyCardViewModel

<div>
    <div class="d-flex justify-content-center row p-3">
        <div class="col-lg-8 col-md-10 col-12">
            @*<div class="card border-dark mb-3" style="min-height: 300px">*@
            @*<div class="card-header">Deck Name</div>*@

            <div id="flipButtonCard">
                <div class="container">
                <div class="front">
                    <div class="card-body text-dark">

                        <p>@Model.DeckName card @Model.CardNumber of @Model.TotalCardNumber</p>
                        <hr />
                        <h4 class="card-title m-auto">@Model.Card.Term</h4>
                        <div class="foot">click to flip</div>
                    </div>
                </div>
                </div>
                <div class="back">
                    <div class="card-body text-dark">
                        <p class="card-text">@Model.Card.Definition</p>
                        <div class="foot">
                            click to flip
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="d-flex justify-content-center">
        @*<div class="mx-auto" style="width: 200px;">*@

        <div class="btn-group btn-grid" role="group" aria-label="Basic example">
            <form action="/Study/StudyCard" method="post">
                <div>
                    <input type="hidden" name="isRight" value="true" />
                    <input type="hidden" name="deckId" value="@Model.DeckId" />
                </div>
                <button type="submit" id="btn-success" class="btn btn-success" typeof="submit"><i class="fas fa-check"></i></button>
            </form>
            <form action="/Study/StudyCard" method="post">
                <div>
                    <input type="hidden" name="isRight" value="false" />
                    <input type="hidden" name="deckId" value="@Model.DeckId"/>
                </div>
                <button type="submit" id="btn-success" class="btn btn-danger" typeof="submit"><i class="fas fa-times"></i></button>
            </form>
        </div>
        @*</div>*@

    </div>
</div>

